body{
    font-family: american typewriter;
}
html{
    cursor: url('assets/yuka-01.png'),auto;
}

img{
    margin: 100px;
    height: 100px;
}

#journal{
    transition: transform .2s;
}

#journal:hover{
    transform: scale(3); 
}


#chopsticks{
    transition: transform .2s;
}

#chopsticks:hover{
    transform: scale(3); 
}

#fuji{
    transition: transform .2s;
}

#fuji:hover{
    transform: scale(3); 
}



.hide {
    display: none;
    position: absolute;
    top: 80%;
    left: 100px;
  }
  
  .mind:hover + .hide {
    display: block;
  }

.chopsticks{
    position: absolute;
    left: 20%;
    top: 10px;
}

.hide2 {
    display: none;
    position: absolute;
    top: 80%;
    left: 20% ;
  }
  
  .chopsticks:hover + .hide2 {
    display: block;
  }

.fuji{
    position: absolute;
    top: 10px;
    left: 40%;
}

.hide3 {
    display: none;
    position: absolute;
    top: 80%;
    left: 45% ;
  }
  
  .fuji:hover + .hide3 {
    display: block;
  }

.step1{
    position: absolute;
    right: 10px;
    top:60%;
}

.step2{
    position: absolute;
    right: 10px;
    top:60%;
}

.step3{
    position: absolute;
    right: 10px;
    top:60%;
}

.completed{
    position: absolute;
    right: 10px;
    top:60%;
}

.site-logo{
    position: absolute;
    right:10px;
    top:10px;
}

.load:hover + #loading{
    display: block;
}

#loading {
    font-size: 70px;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    animation: blink 3s forwards;
    animation-delay: 0.5s;
}

@keyframes blink {
    from { opacity: 0 }
    to { opacity: 100 }
}

.avater{
    position: absolute;

    right:50px;
    top:60%;
}

.hi{
    position:absolute;
    top: 50%;
    right: 10px;
    display: none;
}

.avater:hover + .hi{
    display:block;
}