html, body {
    height: 100%;
}
  
body {
    background-color: black;
    overflow: hidden;
    justify-content: center;
}
  
.images{
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 50px;
    background-color: orangered;
}

.images:hover{
    background-color: darkblue;
}

.wrapper {
    width: 70%;
    display: flex;
    flex-direction: row;
    position: absolute; 
    font-family: american typewriter;
    text-align: center;
    line-height: 200px;
    color: white;
    animation: 60s credits linear infinite;
    justify-content: space-between;
    align-self: center;
    margin-left: 15vw;
}

.wrapper:hover{
    animation-play-state: paused;
}
  
  
.name {
    width: 500px;
    margin-bottom: 50px;
    font-size: 35px;
}
  


@keyframes credits {
    0% {
      top: 100%;
    }
    100% {
      top: -300%;
    }
}

@media (max-width: 1000px) { 
    html, body {
        height: auto;
        overflow-y: scroll;
        overflow-x: scroll;
    }
      
    body {
        background-color: white;
        overflow-y: scroll;
        overflow-x: scroll;
        justify-content: left;
    }
      
    .images{
        position: relative;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin-bottom: 50px;
    }
    
    .wrapper {
        width: 100vw;
        display: grid;
        grid-template-rows: repeat(2, auto);
        position: absolute; 
        font-family: baskerville;
        text-align: left;
        line-height: 200px;
        color: orangered;
        animation: none;
        justify-content: space-between;
        align-self: left;
        margin-left: 10px;
    }
    
    .credits-name{
        grid-row: 1/3;
        display: flex;
        flex-direction: row;
        position: relative;
        height: auto;
    }

    .credits-img{
        grid-row: 1/3;
        display: flex;
        flex-direction: row;
        position: absolute;
    }

    .name {
        width: auto;
        height: 150vh;
        margin-bottom: 10px;
        font-size: 80px;
        writing-mode: vertical-rl;
        text-orientation: mixed;

    }


}
