body{
    font-family: american typewriter;
    text-align: center;
    background-color: rgb(253, 253, 230);
}

h1{
    color: orangered;
}

h2{
    color: darkblue;
}


.flex-container {
    display: flex;
    flex-direction: column;
    max-width:80vw; 
    margin:0 auto; 
    justify-content: center;
    align-items: center;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
}

svg{
    height: 7vw;
}
#back-button, #foward-button{
    fill: orangered;
}
#back-button:hover, #foward-button:hover{
    fill: darkblue;
}

.buttons{
    margin-top: 370vw;    
}

section, header, footer {
    display: flex;
    flex-direction: column;
    /* max-width: 1000px; */
    width: 70vw;
    border: 1px solid black;
    justify-content: center;
    background-color: white;
}



p{
    font-size: 20px;
    padding: 1rem;
    margin: 0;
    padding: 5vw;
}

.header {
    height:50vw;
    min-height: 100vw;
}

.footer{
    height: 5vw;
    min-height: 200px;
}

.line13{
    box-sizing: border-box;
    padding: 1rem 2rem;
    height: 20vw;
    transition: 0.2s ease all;
    font-size: 1rem;
    max-width: 65vw;
    border-top: 0;
}

.line-thirteen{
    box-sizing: border-box;
    padding: 1rem 2rem;
    height: 20vw;
    transition: 0.2s ease all;
    font-size: 1rem;
    max-width: 65vw;
    border-bottom: 0;
    border-top: 0;
}

h1{
    font-family: baskerville;
    font-weight: normal;
    font-size: 10vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    line-height: 10vw;
}

h2{
    font-family: american typewriter;
    font-weight: normal;
    font-size: 5vw;
}

a{
    text-decoration: none;
    color:black;
    cursor: pointer; 
}

a:hover{
    color: darkblue;
}

@media (max-width: 1000px) { 
    body { 
      background-color: black;
      color:  white;
      text-align: left;
    }

    section,header,footer{
        background-color: black;
    }
    a{
        color: white;
    }

    a:hover{
        color: darkblue;
    }

    h2{
        margin-left: 5vw;
    }

  

    .buttons{
        margin-top: 5850px;
    }

    .line13{
        min-height: 400px;
    }

    .line-thirteen{
        min-height: 350px;
    }
}

