body{
    font-family: american typewriter;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    max-width:80vw; 
    margin:0 auto; 
    justify-content: center;
    align-items: center;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
}

svg{
    height: 7vw;
}

#back-button:hover, #foward-button:hover{
    fill: darkblue;
}

.buttons{
    margin-top: 365vw;    
}
section, header, footer {
    display: flex;
    flex-direction: column;
    /* max-width: 1000px; */
    width: 70vw;
    /* border: 1px solid black; */
    border-left: 1px solid black;
    border-right: 1px solid black;
    justify-content: center;
}



p{
    font-size: 20px;
    padding: 1rem;
    margin: 0;
    padding: 5vw;
}

header {
    border-top: 1px solid black;
}

footer{
    border-bottom: 1px solid black;
}





h1{
    font-family: baskerville;
    font-weight: normal;
    font-size: 10vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    line-height: 10vw;
}

h2{
    font-family: american typewriter;
    font-weight: normal;
    font-size: 5vw;
}

a{
    text-decoration: none;
    color:black;
    cursor: pointer; 
}

a:hover{
    color: darkblue;
}

@media (max-width: 1000px) { 
    body { 
      background-color: black;
      color:  white;
      text-align: left;
    }
    a{
        color: white;
    }

    a:hover{
        color:  darkblue;
    }

    h2{
        margin-left: 5vw;
    }
    
    #back-button, #foward-button{
        fill: white;
    }

    .buttons{
        margin-top: 5780px;
    }
    
}

