body{
    font-family: american typewriter;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    max-width:80vw; 
    margin:0 auto; 
    justify-content: center;
    align-items: center;
}

section, header, footer {
    display: flex;
    flex-direction: column;
    /* max-width: 1000px; */
    width: 70vw;
    border: 1px solid black;
    justify-content: center;
}



p{
    font-size: 20px;
    padding: 1rem;
}

.header {
    height:50vw;
    min-height: 100vw;
}

.footer{
    height: 5vw;
    min-height: 200px;
}


.line2{
    box-sizing: border-box;
    padding: 1rem 2rem;
    height: 20vw;
    transition: 0.2s ease all;
    font-size: 1rem;
    max-width: 65vw;
    min-height: 200px;
    border-top: 0;
}

.line-two{
    box-sizing: border-box;
    padding: 1rem 2rem;
    height: 20vw;
    transition: 0.2s ease all;
    font-size: 1rem;
    max-width: 65vw;
    border-bottom: 0;

}
  
.line3{
    box-sizing: border-box;
    padding: 1rem 2rem;
    height: 10px;
    transition: 0.2s ease all;
    font-size: 0px;
    max-width: 63vw;
    border-top: 0;
}

.line-three{
    box-sizing: border-box;
    padding: 1rem 2rem;
    height: 10px;
    transition: 0.2s ease all;
    font-size: 0px;
    max-width: 63vw;
    border-bottom: 0;
}
  
  
.line2:hover + .line3{
    height: 20vw;
    font-size: 1rem;
    min-height: 400px;
}
  
.line3:hover{
    height: 20vw;
    font-size: 1rem;
    min-height: 400px;
}

.line3:hover + .line-three{
    height: 20vw;
    font-size: 1rem;
    min-height: 400px;

}

h1{
    font-family: baskerville;
    font-weight: normal;
    font-size: 10vw;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5vw;
    margin-right: 5vw;
    line-height: 12vw;
}

h2{
    font-family: american typewriter;
    font-weight: normal;
    font-size: 5vw;
}