
body {
  background-color: black;
    margin: 50px;
    display: flex;
    /* This centers our sketch horizontally. */
    justify-content: center;
    /* This centers our sketch vertically. */
    align-items: center;
  }

  .slider {
    position: absolute;
    z-index: 1;
    margin-top: 5px ;
    border: 1px solid black;
  -webkit-appearance: none;  
  /* appearance: none; */
  width: 500px; 
  height: 15px; 
  border-radius: 25px;
   background: black; 
  /* outline: none; Remove outline */
  /* opacity: 0.4; Set transparency (for mouse-over effects on hover) */
  /* -webkit-transition: .2s; 0.2 seconds transition on hover */
  transition: all .2s; 
  
  }