/* .red{
    background-color: red;
} */
input{
    position: absolute;
    width: 100px;
    height: 10px;
}

#name{
    position: absolute;
    left: 180px;
    top: 50px;
    width: 100px;
}

#nickname{
    position: absolute;
    left: 300px;
    top: 50px;
    width: 100px;
}

.profile-sheets{
    position: absolute;
    margin: 0 auto;
    z-index: -1;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100vh;
}
/* 
#sheet1{
    background-image: url(assets/718241400EML.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#sheet2{
    background-image: url(assets/718242200FML.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} */