body{
    font-family: american typewriter;
    text-align: center;

}

.wrapper {
    max-width:80vw;
    margin:0 auto;
    
}


section {
    border: 2px solid black;
}

.intro {
    height:200vh;
}

.middle{
    max-width: 70vw;
}

h1{
    font-family: baskerville;
    font-weight: normal;
    font-size: 20vw;
    margin-top: 200px;
}

h2{
    font-family: american typewriter;
    font-weight: normal;
    font-size: 48px;
}