html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    font-family: 'Commissioner', sans-serif;
    font-family: 'Kosugi Maru', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

h2{
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.heading{
    margin-bottom: 100px;
}

.entries {
    margin-bottom: 80px;
    width: 30vw;
}

span{
    display: block;
}

.top-line{
    display: flex;
    flex-direction: row;
}

.title{
    margin-left: auto;
}

.page-number{
    display: flex;
    flex-direction: row;
}

.number{
    margin-left: auto;
}

.discription{
    text-align: right;
}