body{
    font-family: 'Commissioner', sans-serif; 
    font-family: 'Kosugi Maru', sans-serif; 
    text-transform: uppercase;
    background-color: black;
    font-size: 5vw;
    line-height: 1;
    color: blanchedalmond;
}

h1, h2{
 font-weight: normal;
 font-size: 5vw;
 margin: 0;
}

p{
    margin: 0;
}

.entries{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.top-line{
    max-width: 50%;
}

.page-number{
    margin-left: auto;
    margin-right: 5px;
    max-width: 50%;
}