body{
    width: auto;
    background-color: black;
    color: blanchedalmond;
    font-family: 'Commissioner', sans-serif; 
    font-family: 'Kosugi Maru', sans-serif; 
}
.entries{
    /* border: 1px dashed blue; */
    text-align: left;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 

}

h1,h2{
    font-weight: normal;
    line-height: 10px;
}

.entries{
    /* display: flex; */
    /* flex-direction: row; */
    /* width: 100vw; */
}

.titles{
    margin-top:30px;
    margin-bottom: 30px;
}
  
main{
    margin: 10px;
}

div{
    margin-bottom: 5px;
}