body{
    width: auto;
    background-color: black;
    color: blanchedalmond;
    font-family: 'Commissioner', sans-serif; 
    font-family: 'Kosugi Maru', sans-serif; 
}
.heading{
    margin-bottom: 50px;
}

.titles{
    text-align: left;
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    margin-bottom: 20px;
}

.entries{
    /* border: 1px dashed blue; */
    text-align: left;
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    margin-top: 5px;
}

h1,h2{
    font-weight: normal;
    line-height: 10px;
}

.chapter{
    grid-column: 1;
}

.title{
    grid-column:2/4;
}
  
.discription{
    grid-column:4/6;
}

.page{
    grid-column: 6;
}

main{
    margin: 10px;
}

a{
    text-decoration: none;
    color:blanchedalmond;
    cursor: pointer;
}

a:hover{
    color:chartreuse;
}