body{
 font-size: 2rem;
 background-color: black;
 color: blanchedalmond;
}

.entries{
    /* border: 1px dashed blue; */
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr); 

}
span{
    /* height: 50px; */
    margin-top:50px;
}

hr{
    color:blanchedalmond;
}