body{
 font-size: 2rem;
 background-color: black;
 color: blanchedalmond;
 font-family: 'Commissioner', sans-serif; 
 font-family: 'Kosugi Maru', sans-serif; 
 text-transform: uppercase;
}

.heading{
    text-align: center;
}

.entries{
    /* border: 1px dashed blue; */
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr); 

}
span{
    /* height: 50px; */
    margin-top:50px;
}

hr{
    color: blanchedalmond;
}

a{
    text-decoration: none;
    color:blanchedalmond;
    cursor: pointer;
}

a:hover{
    color:chartreuse;
}