body{
    background-color: black;
    color: blanchedalmond;
    overflow-x: scroll;
    font-family: 'Commissioner', sans-serif; 
    font-family: 'Kosugi Maru', sans-serif; 
}
.heading{
    padding: 10px;
    border: 1px solid blanchedalmond;
    height: 30vh;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    text-align: center;
}

.entries{
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid blanchedalmond;
    height: 30vh;
    align-items: center;
    justify-content: center;
}

.number{
    font-size: 3rem;
}

h1{
    font-size: 3rem;
    text-transform: uppercase;
}

.title{
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color:blanchedalmond;
    cursor: pointer;
}

a:hover{
    color:chartreuse;
}