
body {
    background: rgb(0,254,211);
    background: radial-gradient(circle, rgba(0,254,211,1) 0%, rgba(212,204,58,1) 53%, rgba(255,0,140,1) 100%);
    font-family: "Bitter", arial;
  }
  
  .wrapper {
  /*  margin: 0 auto;
    width: 800px;*/
  }
  
  .customCursor {
    background-color: white;
    width: 100px;
    height: 100px;
    position: absolute;
    mix-blend-mode: difference;
  }