@font-face {
    font-family:bowshadw ;
    src: url(assets/bowshadw.ttf);
}

@font-face {
    font-family:script ;
    src: url(assets/ThirstyScriptExtraBoldDemo.otf);
}

@font-face {
    font-family:graf1 ;
    src: url(assets/adrip1.ttf);
}

@font-face {
    font-family:graf2 ;
    src: url(assets/Urban\ Calligraphy.ttf);
}

body{
    background-color: black;
}

.sign{
    height:25vh;
    width: 70vw;
    background: linear-gradient(0deg, rgba(252,8,28,1) 0%, rgba(255,0,200,1) 100%);
    margin: 0 auto;
    /* text-align: center; */
    margin-top: 100px;
    
}

.banner{
    height:4vh;
    width: 70vw;
    background: linear-gradient(90deg, rgba(255,83,0,1) 0%, rgba(254,249,4,1) 10%, rgba(254,249,4,1) 90%, rgba(255,83,0,1) 100%);
    margin: 0 auto;
    margin-top: -63px;

}

h1{
    font-family:bowshadw; 
    color: white;
    font-size: 5vw ;
    line-height: 20px;
    margin-left: 9vw;
    margin-top: 2vh;
    padding: 0px;
    -webkit-transform:scale(1,1.5); /* Safari and Chrome */
    z-index: -1;
}

h2{
    font-family: script; 
    color: antiquewhite; 
    font-stretch: 150%;
    line-height: 10vh;
    font-size: 5vw ;
    margin: 0px;
    margin-left: 27vw;
    padding: 0px;
    -webkit-text-stroke: 0.5px black; 
    -webkit-transform:scale(1.8,1); /* Safari and Chrome */
    z-index: 100;
}

h3{
    font-variant-caps: all-small-caps;
    font-size: 2.5vw;
    margin-left: 10vw;
    line-height: 3.5vh;

}

.mirror{
    transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.graffiti{
    position: relative;
    height:25vh;
    width: 70vw;
    margin: 0 auto;
    text-align: center;
    margin-top: -50vh;
}

h4{
    font-size: 20vh;
    font-family: graf1;
}

.e{
    font-family: graf2;

}