
body {
  font-family: 'Commissioner', sans-serif;
  font-family: 'Kosugi Maru', sans-serif;
  background-color: black;
  color: blanchedalmond;
}
  
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
  
.links {
  display: flex;
  align-items: left;
  flex-direction: column;
  line-height: 20px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;

}
  
a{
  text-decoration: none;
  color:blanchedalmond;
  cursor: pointer;
}

a:hover{
  color:chartreuse;
}

